.loading {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  color: #696969;
  text-align: center;
  /* transform: "translate(-50%, -50%) !important", */
}
